body {
    overflow-x: hidden;
    width: 100%;
    font: 15px "Century Gothic", "Times Roman", sans-serif;
    background: #eee;
    min-height: 550px;
    background-attachment: fixed;
}

.bg {
    min-height: 540px;
}

.bg1 {
    background: url(../image/bg.jpg);
    min-height: 637px;
    background-size: cover;
}

@font-face {
    font-family: 'typo';
    src: url('../fonts/typo.ttf');
}

@font-face {
    font-family: 'gothic';
    src: url('../fonts/gothics.ttf');
}

.panel {
    border-color: #eee;
    margin: 40px;
    padding: 20px;
    font: 15px "Century Gothic", "Times Roman", sans-serif;
}

.title {
    font-family: 'typo';
}

.header {
    background: #202020;
    height: 70px;
}

.logo {
    font-family: 'typo';
    font-size: 35px;
    color: #ffbb33;
    margin: 15px;
}

.navspace {
    position: absolute;
    margin-left: 1px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 14px 15px;
    /* font-size: 18px; */
    line-height: 20px;
}

.navbar-default .navbar-brand {
    /* position: absolute; */
    font-size: 37px;
    margin: -8px 2px 2px 22px;
    color: #777;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-left: 141px;
}


.nav>li {
    position: relative;
    margin-right: 17px;
    display: block;
}


.form-control {
    height: 34px;
    padding: 0px 86px 0px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.btn-default {
    margin-left: 10px;
    text-shadow: 0 1px 0 #fff;
    /* background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%); */
    background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
    /* background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0)); */
    /* background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    /* border-color: #dbdbdb; */
    border-color: #ccc;
}

.title1 {
    font: 16px "Century Gothic", "Times Roman", sans-serif;
}

.title2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}


.sub1 {
    width: 90px;
    color: #202020;
    background: orange;
    font-size: 16px;
    height: 35px;
    margin: 20px;
    padding: 5px;
    width: 100px;
}


.sub {
    width: 100%;
    background-color: #9acd32;
    font-size: 20px;
    padding: 2px;
    margin-top: 15px;
    margin-right: 20px;
}

.sub:hover {
    color: #fff;
}

.col-md-3 {
    width: 33%;
}

.footer {
    /* color: black; */
    /* font-size: 15px; */
    text-align: center;
    border: 5px solid;
    border-color: #00000008;
    background-color: #202020;
}

.footer a {
    margin: 25px;
    color: orange;
    text-decoration: none;
    font: 17px "Century Gothic", "Times Roman", sans-serif;

}

.footer a:hover {
    text-decoration: none;
    color: #9acd32;
    border-top: 2px solid;
    border-color: orange;

}

.box {
    padding: 9px;
}

hr {
    color: #000000;
}

.top {
    margin-top: 20px;
}

.log1 {
    font: 15px 'Ubuntu', sans-serif;
    color: orange;
    margin-left: 10px;
}

.log {
    margin: 10px;
    margin-right: 60px;
    margin-left: 5px;
    color: orange;
    text-decoration: none;
    font-size: 20px;
    font-size: 15px;
}

.log:hover {
    color: #9acd32;
    border-top: 2px solid;
    border-color: orange;
    text-decoration: none;
}